.util-full {
	width: 100%;
	height: 100%;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.direction-row {
	flex-direction: row;
}

.direction-col {
	flex-direction: column;
}

.inline-flex {
	display: -webkit-inline-flex;
	display: inline-flex;
}

.item-justify-center {
	justify-content: center;
}

.item-justify-space-around {
	justify-content: space-around;
}

.item-align-center {
	align-items: center;
	align-content: center;
}