

<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<style>
* {
	margin: 0;
	padding: 0;
}
.box {
	display: flex;
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
}

</style>


<body onresize="resizeCanvas()" onload="init();">
<canvas id="canvas"></canvas>
</body>



<script>
	var stage;
	var coupons = [];
	var couponsCnt = 55;
	var layerScale = [1, 1.35, 1, 0.85];
	var coupon = {
		layerSpeed: 1,
		random: null,
		shape: null,
		text: null,
		rectW: null,
		rectH: null,
		init: function(x, y) {
			var W = window.innerWidth;
			var H = window.innerHeight;
			var fontArr = ["+1s", "29px Arial", "25px Arial", "20px Arial"];
		
			this.shape = new createjs.Shape();
			this.text = new createjs.Text("-%61", fontArr[this.layerSpeed], "#A4D007");
			
			this.rectW = 80 * layerScale[this.layerSpeed];
			this.rectH = 50 * layerScale[this.layerSpeed];
			
			this.shape.graphics.beginFill("#4C6B22").drawRect(this.rectW / -2, this.rectH / -2, this.rectW, this.rectH);
			this.shape.x = Math.random()*W;
			this.shape.y = Math.random()*(H+this.rectH);
			this.random = Math.random();
			
			this.text.x = this.shape.x;
			this.text.y = this.shape.y + 10 * layerScale[this.layerSpeed];
			this.text.textBaseline = "alphabetic";
			this.text.textAlign = "center";
			stage.addChild(this.shape);
			stage.addChild(this.text);
		},
		update: function() {
			this.shape.y -= this.layerSpeed - this.random / 3;
			this.text.y -= this.layerSpeed - this.random / 3;
			if (this.shape.y < (-1*this.rectH)) { 
				this.shape.y = window.innerHeight + this.rectH; 
				this.shape.x = Math.random()*window.innerWidth;
				this.text.x = this.shape.x;
				this.text.y = this.shape.y + 10 * layerScale[this.layerSpeed];
			} 
		}
	}

	function tick() { 
		
		for (var i = 0; i < couponsCnt; i++) {
			coupons[i].update();
		}
		
		stage.update(); 
	}

	function init() {
	    var canvas = document.getElementById("canvas");
		canvas.width  = window.innerWidth;
		canvas.height = window.innerHeight;
		canvas.style.backgroundColor = "#242426";
		stage = new createjs.Stage("canvas");
		
		for (var i = 0; i < couponsCnt; i++) {
			var acoupon = Object.create(coupon);
			if (i > 25) acoupon.layerSpeed = 2;
			if (i > 40) acoupon.layerSpeed = 3;
			acoupon.init();
			coupons.push(acoupon);
		}

		createjs.Ticker.addEventListener("tick", tick);
		createjs.Ticker.setFPS(30);
		stage.update();
	}
	
	function resizeCanvas() {
		var canvas = document.getElementById("canvas");
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
	}
</script>

