<style>
* {
	margin:0;
	padding:0;
}

.nav-triangles{
	width:100%;
	height:720px;
	position:absolute
}

@keyframes sale-scroll{
	0%{transform:translateY(-500px);opacity:0;}
	5%{opacity:1;}
	95%{opacity:1;}
	100%{transform:translateY(0);opacity:0;}
}

@keyframes gaben {
	0%   {transform: rotate(0deg);}
	25%  {transform: rotate(20deg);}
	50%  {transform: rotate(0deg);}
	75%  {transform: rotate(-20deg);}
	100% {transform: rotate(0deg);}
}

#nav-triangles-1{
	background-image:url(./images/sbeam-1.png);
	animation:sale-scroll 3s infinite linear
}

#nav-triangles-2{
	background-image:url(./images/sbeam-2.png);
	animation:sale-scroll 5s infinite linear
}

#nav-triangles-3{
	background-image:url(./images/sbeam-3.png);
	animation:sale-scroll 7s infinite linear
}

#nav-background{
	width:100%;
	height:90px;
	overflow:hidden;
	position:absolute;
	z-index:-1;
	background-color:green;
}

#nav-background #nav-gradient-overlay{
	width:100%;
	height:100%;
	position:absolute;
	transition:all 1s ease-in-out;
	background:radial-gradient(#326f08, #056905, #021101);
}

#gaben{
	animation:gaben 1s infinite linear
}

.blur {
	width:100%;
	height:100%;
	-webkit-filter:blur(3px);
	-moz-filter:blur(3px);
	filter:url(blur.svg#blur);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	filter:blur(3px);
}

.box {
	display: flex;
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
}

</style>

<body>
	<div id="nav-background" class="hidden-xs" style="height:100%">
		<div class="blur">
			<div id="nav-gradient-overlay"></div>
			<div id="nav-triangles-1" class="nav-triangles"></div>
			<div id="nav-triangles-2" class="nav-triangles"></div>
			<div id="nav-triangles-3" class="nav-triangles"></div>
		</div>
	</div>
	<div class="box">
		<img id="gaben" src="./images/gaben.png"></img>
	</div>
	
</body>