/*
	normalize
*/
* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after,
:before,
:after
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: transparent linear-gradient(rgba(7,24,36,0.94) 0px, rgba(12,4,54,0.95) 75%, #020d21 100%) repeat scroll 0% 0%;
}

/*
New year theme
html {
	background:#900 url(./images/bg.jpg) no-repeat;
	background-size:cover;
}

body {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(99, 18, 18, 0.7) 0px, rgba(169, 11, 11, 0.75) 75%, rgba(115, 12, 12, 0.83) 100%) repeat scroll 0% 0%;
}
*/
h1, h2, h3, h4, p, a {
	color: white;
}

a {
	text-decoration:none;
}

.h25p {
	height: 25%;
}
/*
	start
*/

:root {
	--transition-time: 500ms;
}

.bl-item {
	transition: all var(--transition-time) ease-in-out;
	width: 5.5em;
	height: 5.5em;
	padding: .5em;
	margin: 2px;
	background-color: rgba(52,147,188,0.61);
	/*background-color: rgba(241, 112, 112, 0.61); new year*/
}

.bl-item > div {
	display: inline-block;
}

.bl-item .bl-icon {
	font-size: 4em;
	color: white;
	transition: font-size var(--transition-time) ease-in-out;
}

.bl-item:hover {
	width: 7em;
	height: 7em;
}

.bl-item:hover .bl-icon {
	font-size: 4.5em;
}

/*
	sm item
*/
.bl-sm-item {
	transition: all var(--transition-time) ease-in-out;
	width: 3em;
	height: 3em;
	padding: .5em;
	margin: 2px;
	background-color: rgba(61, 122, 161, 0.61);
	/*background-color: rgba(241, 112, 112, 0.61); new year*/
}

.bl-sm-item .bl-icon {
	font-size: 2em;
	color: white;
	transition: font-size var(--transition-time);
}

.bl-sm-item:hover {
	width: 4em;
	height: 4em;
}

.bl-sm-item:hover .bl-icon {
	font-size: 2.5em;
}

.bl-sm-item > div {
	display: inline-block;
}

